<style>
html {
    /*    1rem = 16px*/
    font-size: 1rem;
    font-family: 'Goldman', cursive;
}



.container {
  opacity: 1;
  transition: 1s;
}

  .container-loaded {
    opacity: 1;
  }

a:hover {
  opacity: .9;
}



body {
  margin: 0px;
  background-color: white;
  outline: black
}

a	{
  text-decoration: none;
  color: #6e6e5f;
}

.menubar {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  width: 100%;
  padding-left: 306px;
  height: 65px;
  padding-top: 30px;
  background-color: white;
  font-size: 20px;
  z-index: 20;
}

.notcurrentpage {
  opacity: .7;
}

.currentpage  {
  opacity: 1;;
}


.footer {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: 280px;
  text-align: right;
  line-height: 20px;
  color: #6e6e5f;
  font-size: 15px;
}

.sidebio {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 220px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: justify;
  text-align-last: right;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 25px;
    }

.sidetitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 120px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
    }

.sidedate {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 140px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
    }

.back {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 73px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 16px;
  opacity: .7;
    }
.back:hover {opacity: 1;}

.kayaramirez {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 31px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 24px;
  z-index: 21;
    }

* {
  box-sizing: border-box;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-top: 70px;
  padding-right: 0px;
  padding-bottom: 17px;
  z-index: -11;
}

.objectgrid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 17px;
  z-index: -11;
}

.item {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 6px;
}

.aboutitem {
  position: relative;
  max-width: 50%;
  padding: 6px;
}


.aboutitemfirst {
  position: relative;
  max-width: 50%;
  padding: 6px;
}

.item img {
  vertical-align: middle;
  width: 100%;
}


.portraititemsquare, .portraititemvert {
  position: relative;
  width: 50%;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 20px;
}

.portraititemsquarefirst {
  position: relative;
  width: 50%;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 20px;
}

.portraititem {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-right: 20px;
}

@media screen and (max-width: 900px) {
  .portraititemsquare, .portraititemsquarefirst, .aboutitem, .aboutitemfirst {
  width: 100%;}}

@media screen and (max-width: 900px) {
  .portraititemsquare, .aboutitem, .portraititemvert {
  padding-top: 0px;;}}

@media screen and (max-width: 720px) {
 .portraititemvert {
  max-width: 100%;}}

.portraititemfirst {
  z-index: -10;
  position: relative;
  max-width: 100%;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-right: 20px;
  padding-top: 6px;
}

.vertitem {
  z-index: -10;
  position: relative;
    max-width: 50%;
  padding-bottom: 20px;
  padding-left: 6px;
  padding-top: 6px;
}


  @media screen and (max-height: 410px) {.footer { opacity: .9;}}
    @media screen and (max-height: 409px) {.footer { opacity: .8;}}
      @media screen and (max-height: 408px) {.footer { opacity: .7;}}
        @media screen and (max-height: 407px) {.footer { opacity: .6;}}
          @media screen and (max-height: 406px) {.footer { opacity: .5;}}
            @media screen and (max-height: 405px) {.footer { opacity: .4;}}
              @media screen and (max-height: 404px) {.footer { opacity: .3;}}
                @media screen and (max-height: 403px) {.footer { opacity: .2;}}
                  @media screen and (max-height: 402px) {.footer { opacity: .1;}}
                    @media screen and (max-height: 401px) {.footer { opacity: .05;}}
                      @media screen and (max-height: 400px) {.footer { opacity: .0;}}
                        @media screen and (max-width: 400px) {.footer { font-size: 0px;}}



@media screen and (max-width: 1150px) {
  .item {
    -ms-flex: 33.333%;
    flex: 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (max-width: 850px) {
  .item {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .item {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
.item {
-ms-flex: 100%;
flex: 100%;
max-width: 100%;
}}

@media screen and (max-width: 560px) {
  .sidetitle,.sidebio,.sidedate,.footer, .kayaramirez,.back {max-width: 50%;}
  .objectgrid, .grid {padding-left: 53.5%;}
  .menubar {padding-left: 54.5%;}
}
@media screen and (max-width: 415px) {

.sidetitle,.sidebio,.sidedate,.footer {display: none;}

.grid, .objectgrid {
padding-left: 10px;
padding-right: 10px;
}
.item {
-ms-flex: 100%;
flex: 100%;
max-width: 100%; }

.menubar {padding-left: 173px; font-size: 14pt; padding-top: 31px;}

.kayaramirez {width: 150px; font-size: 16pt; top: 33px; text-align: left; padding-left: 16px;}
.back {display: none;}
.portraititem, .portraititemfirst, .portraititemsquare, .portraititemsquarefirst, .portraititemvert {padding: 6px;}

}

</style>
