<style>

html {
    /*    1rem = 16px*/
    font-size: 1rem;
    font-family: 'Goldman', cursive;
}



.container {
  opacity: 1;
  transition: 1s;
}

  .container-loaded {
    opacity: 1;
  }

.footer:hover {opacity: .9;}
.notcurrentpage:hover {opacity: .9;}
.kayaramirez:hover {opacity: .9;}

body {
  margin: 0px;
}

a	{
  text-decoration: none;
  color: #6e6e5f;
}

.fake {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 320px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
    }


.sidetitlebar {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 120px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
    }
    
.notcurrentpage {
  opacity: .6;
}

.currentpage  {
  opacity: 1;
}

.mail {
  padding-left: 20px;
  text-align: right;
}
.footer {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  bottom: 24px;
  left: 0px;
  width: 280px;
  text-align: right;
  line-height: 20px;
  color: #6e6e5f;
  font-size: 25px;
}

.credit {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  padding-left: 7px;
  width: 280px;
  color: #6e6e5f;
  text-align: left;
  line-height: 22px;
  font-size: 15px;
  padding-bottom: 02px
}

.menubar {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  width: 280px;
  left: 0px;
  padding-top: 130px;
  color: #6e6e5f;
  font-size: 20px;
  z-index: 20;
  line-height: 32px;
  text-align: right;
}

.sidebio {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 420px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: justify;
  text-align-last: right;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 25px;
  animation: fadeIn 2s;
    }

.sidetitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 320px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
    }



@keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
       

.sidedate {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 340px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 15px;
    }

.kayaramirez {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  top: 31px;
  left: 0px;
  width: 280px;
  color: #6e6e5f;
  text-align: right;
  line-height: 22px;
  font-size: 24px;
  z-index: 21;
    }

* {
  box-sizing: border-box;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 296px;
  padding-top: 27px;
  padding-right: 10px;
  padding-bottom: 17px;
  z-index: -11;
  animation: slideInFromBottom .29s, fadeIn .29s;
}

@keyframes slideInFromBottom {  0% {transform: translateY(100%);}  100% {transform: translateY(0);}}
@keyframes slideInFromRight {  0% {transform: translateX(100%);}  100% {transform: translateX(0);}}
@keyframes slideInFromTop {  0% {transform: translateY(-100%);}  100% {transform: translateY(0%);}}

.objectgrid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: -11;
  border: 0;
  animation: slideInFromTop  .29s, fadeIn .29s;
}

.item {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  overflow: hidden;
}


.aboutitem {
  position: relative;
  max-width: 50%;
  padding: 6px;
}


.aboutitemfirst {
  position: relative;
  max-width: 50%;
  padding: 6px;
}

.item img {
  vertical-align: middle;
  width: 100%;
  text-decoration: none;
  padding: 6px;
}



  .zoomout img {
    width: 50%;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
      transition: all 2s ease;
  }
  .item img:hover {
    border-radius: 25px;;
  }

  .item {
    overflow: hidden;
  }
  
  img {
    transition: transform 0.25s;
  }

.portraititemsquare, .portraititemvert {
  position: relative;
  width: 50%;
  padding: 10px;
}

.portraititemsquarefirst {
  position: relative;
  width: 50%;
  padding: 10px;
}

.portraititem {
  position: relative;
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .portraititemsquare, .portraititemsquarefirst, .aboutitem, .aboutitemfirst {
  width: 100%;}}

@media screen and (max-width: 900px) {
  .portraititemsquare, .aboutitem, .portraititemvert {
  padding-top: 0px;;}}

@media screen and (max-width: 720px) {
 .portraititemvert {
  max-width: 100%;}}

.portraititemfirst {
  z-index: -10;
  position: relative;
  width: 100%;
  padding: 10px;
}

  @media screen and (max-height: 410px) {.footer { opacity: .9;}}
    @media screen and (max-height: 409px) {.footer { opacity: .8;}}
      @media screen and (max-height: 408px) {.footer { opacity: .7;}}
        @media screen and (max-height: 407px) {.footer { opacity: .6;}}
          @media screen and (max-height: 406px) {.footer { opacity: .5;}}
            @media screen and (max-height: 405px) {.footer { opacity: .4;}}
              @media screen and (max-height: 404px) {.footer { opacity: .3;}}
                @media screen and (max-height: 403px) {.footer { opacity: .2;}}
                  @media screen and (max-height: 402px) {.footer { opacity: .1;}}
                    @media screen and (max-height: 401px) {.footer { opacity: .05;}}
                      @media screen and (max-height: 400px) {.footer { opacity: .0;}}
                        @media screen and (max-width: 400px) {.footer { font-size: 0px;}}



@media screen and (max-width: 2150px) {
  .item {
    -ms-flex: 33.333%;
    flex: 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (max-width: 1350px) {
  .item {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .item {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
.item {
-ms-flex: 100%;
flex: 100%;
max-width: 100%;
}}

@media screen and (max-width: 560px) {
  .sidetitle,.sidebio,.sidedate,.footer, .kayaramirez,.menubar {max-width: 50%;}
  .objectgrid, .grid {padding-left: 53.5%;}
}

.topnav a {
  color: #6e6e5f;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav #myLinks {
  display: none;
}

.active {
  background-color: #white;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: white;
  width: 100%;
  position: fixed;
}

.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
}



@media screen and (min-width: 416px) {
 .border, .topnav, .mobilemenu, .mobilekaya {display: none;}
}

@media screen and (max-width: 415px) {

.footer,.menubar, .kayaramirez,.sidetitle,.sidedate,.sidebio {display: none;}

.grid, .objectgrid {
padding-left: 5px;
padding-right: 5px;
padding-top: 100px;
}
.item {
-ms-flex: 100%;
flex: 100%;
max-width: 50%; }

.mail {padding-left: 10px;}

.currentpage {text-decoration: underline; text-decoration-thickness: 2px;}

.portraititem, .portraititemfirst, .portraititemsquare, .portraititemsquarefirst, .portraititemvert {padding: 6px;}
.notcurrentpage, .currentpage {padding-left: 16px; padding-right: 16px;padding-bottom: 0px;}

}



.mobilemenu {font-family: 'Playfair Display', serif;
  position: fixed;
  width: 100%;
  font-size: 16px;
  z-index: 20;
  line-height: 14px;
  padding-top: 20px;
  top: 50px;
  background-color: white;
padding-left: -6px;
padding-bottom: 10px;}

.mobiletitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  left: 0px;
  color: #6e6e5f;
  text-align: left;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
}

.mobiledate {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  position: fixed;
  left: 0px;
  color: #6e6e5f;
  text-align: left;
  line-height: 22px;
  font-size: 15px;
    }

 .border {
  border: .125px solid #6e6e5f;
  opacity: .6;
  z-index: 21;
 }   

 .border2 {
  border: .125px solid #6e6e5f;
  opacity: .6;
  z-index: 22;
 }   

 .mobilekaya 
 {font-family: 'Playfair Display', serif;
  position: fixed;
  width: 100%;
  line-height: 14px;
  padding-top: 30px;
  background-color: white;
  padding-bottom: 10px;
  z-index: 25;
}

.mobilekayaramirez {
  text-align: left;
  padding-left: 16px;
  font-size: 26px;
  z-index: 25;
} 

.mobileitems {
  text-align: right;
} 

.instagram {
`}
</style>